#grid {
    width: 100%;
}

#grid div {
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    box-sizing: border-box;
}

.blue {
    background-color: blue;
}

.green {
    background-color: limegreen;
}

.red {
    background-color: red;
}

.grey {
    background-color: grey;

    animation: bump 250ms ease-in-out;
}

.yellow {
    background-color: gold;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

@keyframes bump {
    0% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

/* desktop styles */
@media (min-width: 768px) {
    main {
        margin: auto;
        width: 75%;
    }
}
